<div class="relative group cursor-pointer" onclick="window.location.href='{% url 'video_player' pk=video.id %}'">
    <div class="w-full relative h-[200px] bg-cover bg-center rounded-lg overflow-hidden"
         {% if video.cover_film %}style="background-image: url('{{ video.cover_film.url }}');"{% endif %}>
      {% if not video.cover_film %}
        <div class="bg-gray-200 border-2 border-dashed rounded-xl w-full h-full flex items-center justify-center">
          <span class="text-gray-500">Pas d'image</span>
        </div>
      {% endif %}
      <div class="absolute bottom-2 right-2 bg-black/50 px-2 py-1 rounded-full text-white text-sm">
        {% for media_type in video.types.all %}
          {{ media_type.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          Inconnu
        {% endfor %}
      </div>
    </div>
    <h3 class="font-normal text-white text-xl mt-2">{{ video.title }}</h3>
    <p class="text-white/60 text-sm">{{ video.views }} vues • {{ video.get_time_ago }}</p>
</div>